*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width:$sm) {
    .container {
        max-width: 540px;
    }
}

@media(min-width:$md) {
    .container {
        max-width: 720px;
    }
}

@media(min-width:$lg) {
    .container {
        max-width: 960px;
    }
}

@media(min-width:$xl) {
    .container {
        max-width: 1140px;
    }
}

@media(min-width:$xxl) {
    .container {
        max-width: 1200px;
    }
}

.row {
    @include flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;

    [class^="col-"],
    [class*=" col-"] {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .col-1 {
        @include col-1;
    }

    .col-2 {
        @include col-2;
    }

    .col-3 {
        @include col-3;
    }

    .col-4 {
        @include col-4;
    }

    .col-5 {
        @include col-5;
    }

    .col-6 {
        @include col-6;
    }

    .col-7 {
        @include col-7;
    }

    .col-8 {
        @include col-8;
    }

    .col-9 {
        @include col-9;
    }

    .col-10 {
        @include col-10;
    }

    .col-11 {
        @include col-11;
    }

    .col-12 {
        @include col-12;
    }
}
