$top-bg:#F8FDFF;
$black: #000;
$white: #fff;
$text-coler:#4d4c4c;
$bg-banner: #F3E3E3;
$bg-collections: #FF6363;
$border: #DCDBDB;
$logo: $bg-collections;
$bage: #FEB626;
$icon-color: #A8A3A3;
$primary: #0d6efd;
$secondary: #4c4c4c;
$success: #198754;
$bg-light: #E5E5E5;



//brakpoins
$sm:567px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1600px;
